
.menuHorizontal{
    text-align: center;
    color:blueviolet
}
.titulo{
    text-align: center;
    color:blue
}

.tablaPrincipal{
    margin: auto;
    margin-top: 200px;
    color:rgb(77, 77, 80)
}

.header{
    margin-left: 100px;
    color:rgb(77, 77, 80)
}
.footer{
    text-align: center;
    color:rgb(77, 77, 80);
    margin-top:100px;
}